@if(!loading){
<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Reserva según tipo de cancha</mat-card-title>
    <mat-card-subtitle class="mat-body-1 m-t-10">Mensual</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [plotOptions]="chartOptions.plotOptions!"
      [yaxis]="chartOptions.yaxis!"
      [xaxis]="chartOptions.xaxis!"
      [legend]="chartOptions.legend!"
      [grid]="chartOptions.grid!"
      [tooltip]="chartOptions.tooltip!"
    ></apx-chart>
  </mat-card-content>
</mat-card>

}
