<mat-card appearance="outlined">
  <mat-card-content>
    <div class="d-flex align-items-center">
      <mat-card-title class="m-b-0">{{ Title }}</mat-card-title>
      <div class="m-l-auto">
        <button
          mat-flat-button
          color="primary"
          (click)="showScheduleProgrammingRegister()"
        >
          {{ RegisterButtonTitle }}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow overflow-hidden">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="d-flex align-items-center w-100">
        <span>{{
          viewDate | calendarDate : view + "ViewTitle" : "es" | titlecase
        }}</span>
        <div class="m-l-auto d-flex align-items-center">
          <button mat-flat-button color="primary">Semanal</button>
          <button mat-icon-button class="week-icon">
            <mat-icon>view_week</mat-icon>
          </button>
          <button
            mat-icon-button
            mwlCalendarPreviousView
            [view]="calendarView"
            [(viewDate)]="viewDate"
            class="week-icon"
            (mwlClick)="goToPreviousWeek()"
          >
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button
            mat-icon-button
            mwlCalendarToday
            [(viewDate)]="viewDate"
            class="week-icon"
          >
            <mat-icon>today</mat-icon>
          </button>
          <button
            mat-icon-button
            mwlCalendarNextView
            [view]="calendarView"
            [(viewDate)]="viewDate"
            class="week-icon"
            (mwlClick)="goToNextWeek()"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card-content>
    <div>
      <mwl-calendar-week-view
        [viewDate]="viewDate"
        [refresh]="refresh"
        [dayStartHour]="dayStartHour"
        [dayEndHour]="dayEndHour"
        [events]="events"
        (eventClicked)="showDetail($event.event)"
      >
      </mwl-calendar-week-view>
    </div>
  </mat-card-content>
</mat-card>
