@if(!loading){
<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Reservas por mes</mat-card-title>
    <mat-card-subtitle class="mat-body-1 m-t-10"
      >En el presente año</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [xaxis]="chartOptions.xaxis!"
      [grid]="chartOptions.grid!"
      [tooltip]="chartOptions.tooltip!"
    ></apx-chart>
  </mat-card-content>
</mat-card>

}
