<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
      Cambio de contraseña
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if(generalErrorMessage != '') {
    <mat-error class="m-b-12">{{ generalErrorMessage }}</mat-error>
    }
    <form [formGroup]="passwordUpdateForm">
      <div class="row">
        <div class="col-sm-12">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Contraseña actual
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [type]="isCurrentPasswordHidden ? 'password': 'text'" formControlName="currentPassword" />
            <button mat-icon-button matSuffix (click)="changeCurrentPasswordVisibility()">
              <mat-icon class="op-5">
                {{ isCurrentPasswordHidden ? "visibility_off": "visibility" }}
              </mat-icon>
            </button>
            @if(accountsValidatorService.isFieldInvalid(passwordUpdateForm, 'currentPassword'))
            {
            <mat-error>{{
              accountsValidatorService.showErrorMessage(passwordUpdateForm, "currentPassword")
              }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Nueva contraseña
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [type]="isNewPasswordHidden ? 'password': 'text'" formControlName="newPassword" />
            <button mat-icon-button matSuffix (click)="changeNewPasswordVisibility()">
              <mat-icon class="op-5">
                {{ isNewPasswordHidden ? "visibility_off": "visibility" }}
              </mat-icon>
            </button>
            @if(accountsValidatorService.isFieldInvalid(passwordUpdateForm, 'newPassword'))
            {
            <mat-error>{{
              accountsValidatorService.showErrorMessage(passwordUpdateForm, "newPassword")
              }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Confirmar nueva contraseña
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [type]="isNewPasswordConfirmationHidden ? 'password': 'text'"
              formControlName="newPasswordConfirmation" />
            <button mat-icon-button matSuffix (click)="changeNewPasswordConfirmationVisibility()">
              <mat-icon class="op-5">
                {{ isNewPasswordConfirmationHidden ? "visibility_off": "visibility" }}
              </mat-icon>
            </button>
            @if(accountsValidatorService.isFieldInvalid(passwordUpdateForm, 'newPasswordConfirmation'))
            {
            <mat-error>{{
              accountsValidatorService.showErrorMessage(passwordUpdateForm, "newPasswordConfirmation")
              }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-12 d-flex justify-content-end">
          <button mat-flat-button color="primary" (click)="changePassword()">Guardar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>